# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL="postgres://default:LuwG9Fsf7RBT@ep-calm-wind-a4aplxyk-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:LuwG9Fsf7RBT@ep-calm-wind-a4aplxyk-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:LuwG9Fsf7RBT@ep-calm-wind-a4aplxyk-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:LuwG9Fsf7RBT@ep-calm-wind-a4aplxyk.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-calm-wind-a4aplxyk-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="LuwG9Fsf7RBT"
POSTGRES_DATABASE="verceldb"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=bbfd4a084a3001e6580f6e6f1682bbf1
NEXTAUTH_URL=http://localhost:3000
